<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gob.AI</title>
        <link rel="stylesheet" href="../static/styles/login.css">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script type="text/javascript" src="../static/scripts/login.js?{{ cache_id }}"></script>
    </head>
    <body>
        <div class="body">
            <header>
                <h1 class="logo"><a href="{{ url_for('Home') }}">Gob.AI</a></h1>
        
                <nav>
                    <a href="{{ url_for('explore') }}">Browse recipe</a>              
                    <a href="" >Create</a>
                    <a href="{{ url_for('login') }}">Login</a>
                </nav>
        
                <a href="{{ url_for('signup') }}"><button class="sbtn">Create Account</button></a>
            </header>
    
             <div class="box">
                <div id="loading-spinner" class="spinner-box">
                    <div class="three-quarter-spinner"></div>
                </div>              
                    <h1 class="login-banner">Login</h1>
                    <input type="text" name="email" placeholder="Email Address"><br>
                    <input type="password" name="password" placeholder="password"><br>
                <div class="checkboxx2">
                    <input type="checkbox" name="checkbox">
                    <p class="p1"> Remember me</p> <p class="p2"><a href=""> Forgot password ?</a></p>
                </div>
                    <button id="submitButton"  class="button">Login</button>
            </div>
    </div>

    <div class="footer">
        <footer>
            <h3>Gob.<span style="color: white; font-size: 35px;">AI</span></h3>
            <p class="footer-p">Gob.AI is a revolutionary AI Recipe generator. Input your ingredients and preference<br>
                And our algorithm crafts unique AI recipe on demand. Explore innovative culinary<br>
                 creations and elevate your meal planning with GOb.AI.
            </p>
    
            <div class="margin2"></div>
    
            <p class="footer-p">Copyright @ GOb.AI 2023 **</p>
        </footer>
    </div>
    </body>
</html>