<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/myaccount.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="logo">Gob.<b>AI</b></h1>

        <nav>
            <a href="{{ url_for('explore') }}">Browse Recipe</a>
            <a href="">Create</a>
            <a href="{{ url_for('login') }}">Login</a>
        </nav>

        <a href="{{ url_for('signup') }}"><button class="sbtn">Create Account</button></a>
    </header>

    <div class="banner">
        <h1 class="banner-h1">All Recipes</h1>
    </div>
<div class="first">
    <div class="side-bar">
        <div class="my-img">
            <img src="" alt="" class="profile">
        </div>

        <ul class="sidebar-li">
           <li><a href="">Dashboard</a></li>
           <li><a href="">Recipe History</a></li>
           <li><a href="">Saved Recipe</a></li>
           <li><a href="">Personal Instructions</a></li>
           <li><a href="">Account Details</a></li>
           <li><a href="">Logout</a></li>
        </ul>
    </div>

    <div>
        <h2 class="first-h2">Welcome, </h2>

        <div class="stats">
            <div class="stats1">
                <p class="p1">credits Used</p>
                <p class="p2"><span>0</span> of 15</p>
                <p class="p3">november 7</p>
            </div>

            <div class="stats2">
                <p class="p1">creations</p>
                <p class="p2"><span>0</span> Recipes</p>
                <p class="p3">create something</p>
            </div>

            <div class="stats3">
                <p class="p1">bookmarks</p>
                <p class="p2"><span>0</span> recipes</p>
                <p class="p3">find something</p>
            </div>
        </div>

        <div class="margin1"></div>

        <h2 class="second-h2">Available Tools</h2>
        <p class="p4">Gob.AI is continiously expandind our suite of AI-powered tool to help you reduce
            waste, prepare better meals,<br> and streamline the cooking process.
        </p>

        <div class="grid-container">
            <div class="grid-item purple">
                <p class="planner-tag">free</p><p class="planner-h1">Recipe Generator</p>

                <img src="img/9023739_magic_wand_fill_icon (1).png" alt=""class="wand">
                <p class="planner-p1"> AI to generate all new<br> recipe from scratch</p>

                <button class="btn1">Create a recipe</button>
            </div>

            <div class="grid-item milk">
                <p class="planner-tag">premium</p><p class="planner-h1">Idea Generator</p>

                <img src="img/8664906_lightbulb_bulb_icon.png" alt=""class="wand">
                <p class="planner-p1">get 7 ideas for any prompt or list<br>
                    of ingredients</p>

                <button class="btn1">Create a recipe</button>
            </div>
            <div class="grid-item green" >
                <p class="planner-tag">premium</p><p class="planner-h1">Personalized AI</p>

                <img src="img/9110886_pencil_create_icon.png" alt=""class="wand">
                <p class="planner-p1">Enter custom instructions that<br> apply to all recipe</p>

                <button class="btn1">Create a recipe</button>
            </div>
            <div class="grid-item ash">
                <p class="planner-tag">premium</p><p class="planner-h1">Meal planner</p>

                <img src="img/8664792_calendar_check_schedule_icon.png" alt=""class="wand">
                <p class="planner-p1">Create a customized AI-Generated <br>
                meal plan + recipe</p>

                <button class="btn1">Create a recipe</button>
            </div>
        </div>
    </div>
</div>    

<div class="footer">
    <footer>
        <h3>Gob.<span style="color: white; font-size: 35px;">AI</span></h3>
        <p class="footer-p">Gob.AI is a revolutionary AI Recipe generator. Input your ingredients and preference<br>
            And our algorithm crafts unique AI recipe on demand. Explore innovative culinary<br>
             creations and elevate your meal planning with GOb.AI.
        </p>

        <div class="margin2"></div>

        <p class="footer-p">Copyright @ GOb.AI 2023 **</p>
    </footer>
</div>
</body>
</html>