<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/myaccount.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="logo"><a href="{{ url_for('Home') }}" class="logo-link">Gob.AI</a></h1>

        <nav>
            <a href="{{ url_for('explore') }}">Browse recipe</a>
            <a href="">Create</a>
            <a href="{{ url_for('login') }}">Login</a>
        </nav>

            <a href="{{ url_for('signup') }}"><button class="sbtn">Create Account</button></a>
    </header>

    <div class="banner">
        <h1 class="banner-h1">All Recipes</h1>
    </div>
<div class="first">
    <div class="side-bar">
        <div class="my-img">
            <img src="" alt="" class="profile">
        </div>

        <ul class="sidebar-li">
           <li><a href="">Dashboard</a></li>
           <li><a href="">Recipe History</a></li>
           <li><a href="">Saved Recipe</a></li>
           <li><a href="">Personal Instructions</a></li>
           <li><a href="">Account Details</a></li>
           <li><a href="">Logout</a></li>
        </ul>
    </div>

    <div>
        <h2 class="first-h2">Welcome, </h2>

        <div class="stats">
            <div class="stats1">
                <p class="p1">credits Used</p>
                <p class="p2"><span>0</span> of 15</p>
                <p class="p3">november 7</p>
            </div>

            <div class="stats2">
                <p class="p1">creations</p>
                <p class="p2"><span>0</span> Recipes</p>
                <p class="p3">create something</p>
            </div>

            <div class="stats3">
                <p class="p1">bookmarks</p>
                <p class="p2"><span>0</span> recipes</p>
                <p class="p3">find something</p>
            </div>
        </div>

        <div class="margin1"></div>

        <h2 class="second-h2">Available Tools</h2>
        <p>Gob.AI is continiously expandind our suite of AI-powered tool to help you reduce
            waste, prepare better meals, and streamline the cooking process.
        </p>
    </div>
</div>    
</body>
</html>